body {
    background-color: #262626;
    color: #f7f7f7;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
    width: 100%;
}

h2 {
    margin-top: 7px;
}

p {
    margin: 1px;
}

.soulbind {
    background-color: #632425;
    height: 80px;
    width: 3px;
    border: 2px solid black;
    margin-left: -15px;
    margin-top: -1px;
}

.durability {
    background-color: #9ce310;
    height: 80px;
    width: 3px;
    border: 2px solid black;
    margin-top: -1px;
}

.gear-header {
    display: flex;
    height: 80px;
}

.header {
    margin-top: 5px;
}

.equip-location {
    margin-top: 5px;
}

.defense-stats {
    display: flex;
    gap: 5px;
    align-self: flex-end;
}

.defense {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.magic-defense {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.def-stat {
    z-index: 1;
}

.bubble {
    background-color: #4e4e4e;
    height: 10px;
    width: 130px;
    border-radius: 10px;
    position: relative;
    top: -10px;
}

.gear-name {
    margin-top: 25px;
    margin-left: 20px;
}

.game-border {
    background-image: linear-gradient(to bottom, #d3cdb7 0%, #706756 20px, #706756 100%);
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 700px;
}

.game-background {
    border-radius: 7px;
    margin: 3px;
    padding: 10px 20px;
    background: linear-gradient(to bottom,  #676767 0%,#393939 20px,#393939 100%);
}

form {
    color: #dcd9ca;
    display: flex;
    flex-direction: column;
}

.gear-icon {
    width: 80px;
}

.button {
    background: linear-gradient(to bottom,  #5b5b5b 0%,#4c4c4c 47%,#3f3e3e 50%,#464646 100%);
    border-radius: 25px;
    border: 1px solid black;
    color: #dcd9ca;
    height: 25px;
    width: 125px;
}

.button:active {
    background: linear-gradient(to bottom,  #3f3e3e 0%,#464646 47%,#2b2a2a 50%,#3f3e3e 100%);
    border: 2px solid black;
    color: #a0a0a0;
}

.guess-box {
    background-color: #1b1b1b;
    border: none;
    color: #dcd9ca;
    padding: 5px;
    width: 200px;
}

.job-icon {
    width: 40px;
}

.equip-jobs {
    display: flex;
    gap: 5px;
    align-items: center;
}

.repair-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-list {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.materia-slot-border {
    background-color: #86b222;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    margin: 3px 0;
}

.materia-slot {
    position: relative;
    background: linear-gradient(#575557,#303032);
    height: 18px;
    width: 18px;
    border-radius: 100%;
    left: 2px;
    top: 2px;
}

.tan {
    color: #c4b49b;
}

.gray {
    color: #a0a0a0;
}

.column-1 {
    justify-self: end;
}

.section-line {
    border-top: 1px solid #161616;
    background-color: #515151;
    height: 2px;
    border-radius: 10px;
}

.user-input {
    display: flex;
    justify-content: space-between;
}